<div class="d-flex align-items-center justify-content-between">
  <h1><%= @place["name"] %></h1>
  <div>
    <a class="btn btn-success" href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
    <a class="btn btn-outline-success" href="/places">Back to All Places</a>
  </div>
</div>



<h2>My Posts</h2>

<div class="row">
  <% sorted_posts = @posts.sort_by { |post| post["posted_on"] }.reverse %>
  <% sorted_posts.each_with_index do |post, index| %>
    <% user = User.find_by({ "id" => post["user_id"] }) %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title"><%= post["title"] %></h3>
          <p class="card-text"><%= post["description"] %></p>
        <% if post.uploaded_image.attached? %>
  <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
<% else %>
  <img src="<%= post["image"] %>" class="img-fluid">
<% end %>
        </div>
        <div class="card-footer text-muted">
        
          <span class="post-date-formatted"><%= post["posted_on"].strftime('%B %e, %Y') %></span>
        </div>
      </div>
    </div>
    <% if (index + 1) % 3 == 0 %>
      </div>
      <div class="row">
    <% end %>
  <% end %>
</div>





