<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>

<% sorted_posts = @posts.sort_by { |post| post["posted_on"] }.reverse %>

<% for post in sorted_posts %>
  <% user = User.find_by({ "id" => post["user_id"] }) %>
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title"><%= post["title"] %></h3>
      <p class="card-text"><%= post["description"] %></p>
      <% if post["image_url"] %>
        <img src="<%= post["image_url"] %>" alt="Post Image" class="img-fluid rounded">
      <% end %>
    </div>
    <div class="card-footer text-muted">
      
      <span class="post-date-formatted"><%= post["posted_on"].strftime('%B %e, %Y') %></span>
    </div>
  </div>
<% end %>







<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>

